<appSettings>

  <!--4.0分诊程序设置Begining-->

  <!--是否演示模式  1开启演示模式，0 关闭演示模式,2 身份证读卡器-新中新 其他使用精伦-->
  <add key="DemoMode" value="1" />
  <!-- 生命体征演示数据 ********* Start -->
  <add key="SBP" value="120" />
  <add key="SDP" value="70" />
  <add key="SPO2" value="80" />
  <add key="HeartRate" value="75" />
  <add key="BreathRate" value="18" />
  <!-- 生命体征演示数据 ********* End -->
  <add key="AllowMultipleInstance" value="1" />
  <add key="CheckDatabaseConnection" value="0" />

  <add key="ReportURL" value="http://192.168.0.222:8085" />
  <!--For triage report-->
  <add key="ServicesURL" value="http://192.168.0.222:8085" />
  <add key="DeviceNoList" value="分诊台监护仪=111,抢救区监护仪=222" />

  <!-- 分诊配置：级别颜色显示 Argb颜色值 #8B0000 -->
  <add key="FstLevel" value="-65536" />
  <add key="SecLevel" value="-47872" />
  <add key="ThdLevel" value="-23296" />
  <add key="FourLevel" value="-16744448" />
  <!-- 分诊配置：判定依据项图标显示 -->
  <add key="NoneAccording" value="Images\fstLv.png" />
  <add key="FstAccording" value="Images\fstLv.png" />
  <add key="SecAccording" value="Images\sedLv.png" />
  <add key="ThdAccording" value="Images\thdLv.png" />
  <add key="FourAccording" value="Images\fourLv.png" />
  <add key="BlackLv" value="Images\blackLv.png" />

  <!--分诊自定义报表-->
  <add key="TriageQueryDefineShowUrl" value="http://192.168.0.222:8085/QueryDefine/Query_Define_Report.aspx" />
  <add key="TriageQueryDefineConfigUrl" value="http://192.168.0.222:8085/QueryDefine/QueryDefinePage.aspx" />

  <!--分诊 系统，主诉配置-->
  <add key="ShowSystemFst" value="true" />

  <!--分诊基本信息只读模式-->
  <add key="TriageBasicInfoReadOnly" value="1" />

  <!--登陆验证接口Login-->
  <add key="HisLogin" value="0" />
  <!--获取His患者信息-->
  <add key="GetPatientInfo" value="0" />
  <!--获取挂号列表-->
  <add key="GetRegisterList" value="0" />
  <!--分诊时挂号接口-->
  <add key="RegistWhenTriage" value="0" />
  <!--患者建档接口-->
  <add key="CreatePatientProfile" value="0" />
  <!--患者档案维护接口-->
  <add key="ModifyPatientInfo" value="0" />
  <!--分诊退号接口-->
  <add key="ReturnRegister" value="0" />
  <!--挂号状态验证接口-->
  <add key="GetRegistStatus" value="0" />

  <!--分诊条配置-->
  <add key="TriageTitle" value="xxx医院挂号凭据" />
  <add key="msg1" value="请您妥善保管此凭据" />
  <add key="msg2" value="用于交款及打印化验单" />
  <add key="msg3" value="为了您家人和其他患者健康" />
  <add key="msg4" value="请您保持就诊秩序保持诊区安静" />
  <add key="msg5" value="祝您早日康复！" />

  <!--新权限集成 0 旧版， 1 新版-->
  <add key="IsNewPermissonSystem" value="1" />

  <!--4.0分诊程序设置End-->


  <!--是否启用自动回收物理内存-->
  <add key="UseAutoFlushMemory" value="True" />
  
  <!--是否启用数据库直连-->
  <add key="UseADODirect" value="True" />

  <!--医生站患者列表是否自动刷新-->
  <add key="AutoRefreshPatlist" value="False" />
  <!--10000毫秒 10秒-->
  <add key="AutoRefreshInterval" value ="60000" />

  <!--【患者管理】列表是否自动刷新频率，单位：秒（最小值允许10秒）-->
  <add key="PatManageAutoRefreshInterval" value ="5" />

  <!--滞留时间分诊（未入科一二级）患者，单位： 分钟-->
  <add key="RTimeTriage" value="2" />
  
  <!--滞留时间一二级变红色时间设置，单位：小时-->
  <add key="RTimeRedColor" value="2" />
  
  <!--滞留时间三级变黄色时间设置，单位：小时-->
  <add key="RTimeYellowColor" value="12" />

  <!--一级二级患者必需分配床位-->
  <add key="FstSecLVMustAssignBed" value="True" />
  <!--红区患者入科必需分配床位-->
  <add key="RedAreaMustAssignBed" value="True" />

  <!--患者入科判断是否重入抢救间-->
  <add key="OpenPlanBackWardJudge" value="True" />
  <!--判断重入抢救间时间范围(单位：小时） 如：72小时内-->
  <add key="PlanBackWardJudgeTime" value="72" />

  <!--护士允许入科三四级患者-->
  <add key="NurseInDeptThdAndFth" value="True" />
  <!--医生允许入科一二级患者-->
  <add key="DoctorInDeptFstAndSec" value="True" />

  <!-- 分诊配置：级别颜色显示 Argb颜色值 #8B0000 -->
  <add key="FstLevelColor" value="-65536" />
  <add key="SecLevelColor" value="-47872" />
  <add key="ThdLevelColor" value="-23296" />
  <add key="FourLevelColor" value="-16744448" />

  <!-- 已提交医嘱 颜色显示 -->
  <add key="SubmitColor" value="#16499A" />
  <!-- 已作废医嘱 颜色显示 -->
  <add key="InvalidColor" value="#DDDDDD" />
  <!-- 已停用医嘱 颜色显示 -->
  <add key="StopColor" value="#9A1616" />
  <!-- 已缴费医嘱 颜色显示 -->
  <add key="PayColor" value="#FA6800" />
  <!-- 已执行医嘱 颜色显示 -->
  <add key="ExecuteColor" value="#4C9E60" />
  <!-- 皮试阳性医嘱 颜色显示 -->
  <add key="PositiveColor" value="#F0A30A" />

  <!-- 设置默认登录区域 -->
  <add key="DefaultLoginArea" value="绿区" />
  <!-- 设置默认登录科室，多个科室以|分割，例如 眼科,综合 -->
  <add key="DefaultLoginDept" value="眼科,综合" />

  <!--床卡是否启用扩展提示块-->
  <add key="BedCardSupperTooltip" value="True" />
  <!--腕带打印机名称-->
  <add key="WristbandPrinterName" value="Microsoft XPS Document Writer" />
  <!--住院证打印机名称-->
  <add key="InHospitalApplicationPrinterName" value="Microsoft XPS Document Writer" />
  <!--用血申请打印机名称-->
  <add key="BloodApplyPrinterName" value="Microsoft XPS Document Writer" />
  <!--座位卡打印机名称-->
  <add key="SeatCardPrinterName" value="Microsoft XPS Document Writer" />

  <!--同步服务轮询时间-->
  <add key="QueryInterval" value="00:00:20" />
  <!--同步服务工具日志路径-->
  <add key="LogPath" value="c:\MHLogs\ECIS\Client" />

  <!--下达医嘱需要检查是否已下诊断（无诊断不允许开立）-->
  <add key="OrderNeedDiagnosis" value="False" />

  <!--默认医嘱类型-->
  <add key="OrderTemp" value="true" />
  <!--默认医嘱最大天数-->
  <add key="OrderMaxDay" value="10" />

  <!--是否拆顿检查医嘱-->
  <add key="OpenExamOrder" value="true" />
  <!--是否拆顿检验医嘱-->
  <add key="OpenLabOrder" value="true" />

  <!--电子病历水印 1:启用 0:不用-->
  <add key="IsShowEmrBGImage" value="1" />
  <!--上传文件Ecis.UploadFileWeb-->
  <add key="MrHtmlFileSavePathUrl" value="http://192.168.0.222:8000" />

  <!--会诊意见-->
  <add key="ConslEditUrl" value="http://192.168.0.222:8011/ResultEdit.html" />
  <!--时间轴-->
  <add key="TimeLineUrl" value="http://192.168.0.222:8012/timeline.aspx" />
  <!--360全景视图-->
  <add key="360ViewUrl" value="http://192.168.0.222:8013/Patient/Index/" />
  <!--质控统计-->
  <add key="QualityControlUrl" value="http://192.168.0.222:8012/login.aspx?integration=1&amp;u=test3&amp;p=3" />
  <!--查询统计-->
  <add key="StatisticsUrl" value="http://192.168.0.222:8014/Statistics.aspx" />
  <!--通知服务-->
  <add key="NotifyService" value="http://192.168.0.222:8058/NotifyService.svc" />
  
  <!--是否显示简易时间轴 1:启用 0:不用-->
  <add key="IsShowUcTimeLine" value="1" />

  <add key="HospitalName" value="xxxxx医院" />
  <add key="VerionInfo" value="版本信息" />
  <add key="EcisSystemName" value="急诊临床信息系统4.1" />

</appSettings>