<connectionStrings>
  <add name="ECISPlatform4.1"
       connectionString="User ID=ecisuser;Password=sa123456; Initial Catalog=ECISPlatform_4.1;Data Source=192.168.0.222;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatformTriage4.1"
       connectionString="User ID=ecisuser;Password=sa123456; Initial Catalog=ECISPlatform_Triage;Data Source=192.168.0.222;"
       providerName="System.Data.SqlClient" />
  <add name="ECISEMRDB"
       connectionString="User ID=ecisuser;Password=sa123456; Initial Catalog=EcisEmrDb;Data Source=192.168.0.222;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <!--同步工具-->
  <add name="SourceDB"
       connectionString="User ID=ecisuser;Password=sa123456; Initial Catalog=HIS_MidBase;Data Source=192.168.0.222;"
       providerName="System.Data.SqlClient" />
  <add name="TargetDB"
       connectionString="User ID=ecisuser;Password=sa123456; Initial Catalog=ECISPlatform_MidBase;Data Source=192.168.0.222;"
       providerName="System.Data.SqlClient" />
  <!--护理相关的配置Start-->
  <add name="ECISPlatform"
       connectionString="User ID=ecisuser;Password=sa123456;Initial Catalog=ECISPlatform;Data Source=192.168.0.222;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <add name="ECISPlatformTriage"
       connectionString="User ID=ecisuser;Password=sa123456;Initial Catalog=ECISPlatform_Triage;Data Source=192.168.0.222;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
  <!--护理相关的配置End-->
  <add name="ICUMonitoring"
       connectionString="Password=sa123456;User ID=ecisuser;Data Source=192.168.0.222;Initial Catalog=ICUMonitoringEQPDB;Connection Timeout=30;"
       providerName="System.Data.SqlClient" />
</connectionStrings>