<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">

    <target xsi:type="File"
            name="file"
            encoding="utf-8"
            fileName="c:/MHLogs/ECIS/Client/EcisPlatform.log"
            layout="${longdate:format=yyyy-MM-dd HH:mm:ss.ffffff}|${level:uppercase=true}|${processid}|${threadid}|${message}"
            archiveFileName="c:/MHLogs/ECIS/Client/EcisPlatform.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="15"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target xsi:type="Database" name="db">
      <!-- SQL command to be executed for each entry -->
      <commandText>
        INSERT  INTO [dbo].[NLog] ( [PVID], [ModuleName], [ModuleCode], [ClientSite],[OriginalValue], [Content], [OperationType],[Operator], [Result] )
        VALUES  ( @PVID, @ModuleName, @ModuleCode, @ClientSite, @OriginalValue,@Content, @OperationType, @Operator, @Result )
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@PVID" layout="${event-properties:item=PVID}" />
      <parameter name="@ModuleName" layout="${event-properties:item=ModuleName}" />
      <parameter name="@ModuleCode" layout="${event-properties:item=ModuleCode}" />
      <parameter name="@ClientSite" layout="${event-properties:item=ClientSite}" />
      <parameter name="@OriginalValue" layout="${event-properties:item=OriginalValue}" />
      <parameter name="@Content" layout=" ${message}" />
      <parameter name="@OperationType" layout="${event-properties:item=OperationType}" />
      <parameter name="@Operator" layout="${event-properties:item=Operator}" />
      <parameter name="@Result" layout="${event-properties:item=Result}" />
      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>User ID=ecisuser;Password=sa123456; Initial Catalog=ECISPlatform_4.1Log;Data Source=192.168.0.222;</connectionString>
    </target>
  </targets>

  <rules>
    <!-- Log 模式  Trace、Debug 、Info 、Warn、Error、Fatal -->
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="db" />
  </rules>
</nlog>